body {
  font-family: "Elms Sans", sans-serif;
  background-color: #2e2e2e;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  z-index: 1001;
  position: relative;
}

.informe-container {
  min-height: calc(100vh - 56px);
}

.informe-content {
  overflow-y: auto;
  max-height: calc(100vh - 56px);
  margin-left: 25%;
}

.informe-main {
  flex-grow: 1;
}

.sidebar-fixed {
  position: fixed;
  left: 0;
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
  z-index: 1000;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: black;
}

.navbar {
  background-color: black;
}

.navbar-Brand {
  background-color: black;
}

.engranaje {
  width: 80px;
  height: 80px;
}

.etapa1 {
  width: 300px;
  height: 250px;
}

.etapa2 {
  width: 300px;
  height: 250px;
}

.etapa3 {
  width: 300px;
  height: 250px;
}

.etapa4 {
  width: 300px;
  height: 250px;
}

.input{
  background-color: transparent;
}

.contenedor-informe-general{
    background-color: rgba(0, 0, 0, 0.339);
}

.contorno{
    width: 55px;
    height: 60px;
    background-color: rgb(67, 67, 67);
}

.relleno{
    width: 40px;
    height: 45px;
    background-color: rgb(113, 112, 112);
    font-weight: bold;
}

.cards,
h4 {
  color: white;
  background-color: rgb(42, 37, 37);
  padding: 5px;
}

i {
  color: white;
  background-color: transparent;
}