* {
  font-family: "Elms Sans", sans-serif;
  background-color: #2e2e2e;
  color: white;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: black;
}

.navbar {
  background-color: black;
}

.navbar-Brand {
  background-color: black;
}

.engranaje {
  width: 80px;
  height: 80px;
}

.etapa1 {
  width: 300px;
  height: 250px;
}

.etapa2 {
  width: 300px;
  height: 250px;
}

.etapa3 {
  width: 300px;
  height: 250px;
}

.etapa4 {
  width: 300px;
  height: 250px;
}

.input{
    background-color: gray;
}

.contenedor-informe-general{
    background-color: rgba(0, 0, 0, 0.339);
}

.contorno{
    width: 65px;
    height: 70px;
    background-color: rgb(67, 67, 67);
}

.relleno{
    width: 50px;
    height: 55px;
    background-color: rgb(113, 112, 112);
    font-weight: bold;
}
